{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container mt-5 text-center">
            <h1 class="mt-5"> BONJOUR NOTRE CHER FORMATEUR MATTHIEU MOTA </h1>
            <h2>VOUS POUVEZ NAVIGUEZ DANS LE SITE TRANQUILLEMENT !!</h2>
            <h3 >😂 😂 😂 😂</h3>
    </div>
{% endblock %}
